@import "../../_globalColor";

//le contenant de l'image
figure {
    position: relative;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $lightBackground2;
    box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
    border: 1px solid $lightBorder1;
}

//l'image
figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//animation d'apparition
@keyframes scaleUp {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}

//lancement de l'animation lors de l'apparition de la tuile du projet
.project-item {
  animation: scaleUp 0.25s ease forwards;
}

//oeil
.project-item-icon-box {
  background: rgba(0, 0, 0, 0.6); 
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

//effet oeil au survol
.project-item > a:hover .project-item-icon-box {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

//effet agrandissement au survol
.project-item > a:hover img { transform: scale(1.1);}

.project-item  a { text-decoration: none;}

//titre du projet
.project-title {
  color: $textColor;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
}
//catégorie du projet
.project-category {
  color: $subTitle;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.project-title,
.project-category { margin-left: 10px; }

.dark-mode-text {
  color: $textColorDark !important;
}